@model IEnumerable<SubscriptionDTO>
@{
    ViewData["Title"] = "Index";
}

<h3 class="event-title">Subscriptions</h3>
<div class="d-flex flex-column">
@foreach (var subscription in Model)
{
        <div class="row d-flex border rounded m-1">
            <div class="col-md-4 center-block d-flex align-items-center">
                @if (!string.IsNullOrEmpty(@subscription.Event.ImagePath))
                {
                    <img class="card-img-top" src="~/Images/Events/@subscription.Event.ImagePath" alt="@subscription.Event.Title">
                }
                else
                {
                    <img  class="mx-auto" src="~/Images/content/default.png" alt="Card image cap">
                }
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h4 class="card-title">@subscription.Event.Title</h4>
                    <table class="table">
                        <tr>
                            <th>Address:</th>
                            <td>@subscription.Event.City, @subscription.Event.Address @subscription.Event.Number</td>
                        </tr>
                        <tr>
                            <th>Organizer:</th>
                            <td>@subscription.Event.Organizer.Email</td>
                        </tr>
                        <tr>
                            <th>Description:</th>
                            @if (@subscription.Event.Description.Length > 15)
                            {
                                <td>@subscription.Event.Description.Substring(0, 15)...</td>
                            }
                            else
                            {
                                <td>@subscription.Event.Description</td>
                            }
                        </tr>
                        <tr>
                            <th>Date:</th>
                            <td> @subscription.Event.Date.ToShortDateString()</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center flex-column">                
                <a asp-controller="Event" asp-action="Details" asp-route-eventId="@subscription.Event.Id" class="btn btn-outline-info">Details</a>
                <a asp-controller="Subscription" asp-action="Unsubscribe" asp-route-id="@subscription.EventId" class="btn btn-outline-secondary m-2">Unsubscribe</a>                     
            </div>
        </div>
   
}
</div>