@model EventDetailsModel
@{
    ViewData["Title"] = "Details";
}

	<h3 class="event-title">@Model.Title</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                @if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    <img class="card-img" src="~/Images/Events/@Model.ImagePath" alt="Card image cap">
                }
                else
                {
                    <img class="card-img" src="~/Images/Content/default.png" alt="Card image cap">
                }
            </div>
        </div>

        <div class="col-md-4">
            <label>Date:</label>
            <p>@Model.Date.ToString("dd.MM.yyyy hh:mm")</p>

            <label>Organizer:</label>
            <p>@Model.Organizer.FirstName @Model.Organizer.LastName</p>

            <label>Address:</label>
            <p>@($"{Model.City}, {Model.Address} {Model.Number}")</p>

            @if (Model.IsOwner)
            {
                <label>Subscribers:</label>
                <p>@Model.NumberOfSubscribers</p>
                <a asp-controller="Event" asp-action="Remove" asp-route-id="@Model.Id" class="btn btn-outline-danger">Delete</a>
                <a asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">Edit</a>            
                <a asp-controller="Email" asp-action="SendEmail" asp-route-id="@Model.Id" class="btn btn-outline-success">Send message</a>                          
            }

            @if (User.Identity.IsAuthenticated)
            {
                @if (Model.IsSubscribed)
                {
                    <a asp-controller="Subscription" asp-action="UnsubscribeFromEvent" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Unsubscribe</a>
                }
                else
                {
                    <a asp-controller="Subscription" asp-action="Subscribe" asp-route-id="@Model.Id" class="btn btn-outline-success">Subscribe</a>
                }
            }

        </div>

        <div class="col--event-desc">
            <div class="card">
                @Model.Description
            </div>
        </div>

        <div class="col--event-desc">
            <div class="card">
                <div class="row text-center">
                <p class="col-md-5">Do you want to see all the events of this organizer?</p>
                <a asp-controller="User" asp-action="Profile" asp-route-organizerId="@Model.OrganizerId" class="col-md-2 btn btn-outline-warning">Events</a>
                </div>
            </div>
        </div>
    </div>