@model List<EventDTO>

@{
    ViewData["Title"] = "Events";
}

<div class="container">

    <div class="row" style="margin-left: 1%">
        <div class="w-75">
            <h3>Events</h3>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Organizer"))
            {
                <div class="w-25">
                    <a asp-action="Create" class="btn btn-outline-success">Create event</a>
                </div>
            }
        }
    </div>
    <hr>
    <div class="row">
        @if (Model.Count > 0)
		{
			 @foreach (var eventModel in Model)
			 {
				<div class="col-md-3">
					<div class="card">
                        <div class="card-header text-center d-flex justify-content-center">
						<h5 class="d-md-block">@eventModel.Title</h5>
                        </div>
						@if (!string.IsNullOrEmpty(eventModel.ImagePath))
						{
							<img class=" card-img-top" src="~/Images/Events/@eventModel.ImagePath" alt="Card image cap">
						}
						else
						{
							<img class=" card-img-top" src="~/Images/content/default.png" alt="Card image cap">
						}
						<div class="card-body">

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">@eventModel.City, @eventModel.Address @eventModel.Number</li>
                                <li class="list-group-item">@eventModel.Date.ToString("dd.MM.yyyy hh:mm")</li>
                            </ul>

                            @if (eventModel.Description.Length > 80)
                            {
                                <p class="card-text text-align">@(string.Concat(eventModel.Description.Substring(0, 80), "..."))</p>
                            }
                            else
                            {
                                <p class="card-text text-align">@eventModel.Description</p>
                            }

                            <a asp-action="Details" asp-route-eventId="@eventModel.Id" class="btn btn-outline-info">Details</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>There aren't any available events</p>
        }
    </div>
</div>

