@using X.PagedList.Mvc.Core
@using X.PagedList
@model IPagedList<EventDTO>

@{
    ViewData["Title"] = "Events";
}

<div class="container">

    <div class="row" style="margin-left: 1%">
        <div class="w-75">
            <h3>Events</h3>
        </div>
        <div class="w-25">
            <a asp-action="Create" class="btn btn-success">Create event</a>
        </div>
    </div>
    <hr>
    <div class="row card-columns">
        @foreach (var eventModel in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <h3 class="card-header text-center">@eventModel.Title</h3>

                    @if (!string.IsNullOrEmpty(eventModel.ImagePath))
                    {
                        <img class="h-50 card-img-top" src="~/Images/Events/@eventModel.ImagePath" alt="Card image cap">
                    }
                    else
                    {
                        <img class="h-50 card-img-top" src="~/Images/content/default.png" alt="Card image cap">
                    }
                    <div class="card-body">

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@eventModel.City @eventModel.Address @eventModel.Number</li>
                            <li class="list-group-item">@eventModel.Date</li>
                        </ul>

                        @if (eventModel.Description.Length > 15)
                        {
                            <p class="card-text text-justify">@(eventModel.Description.Substring(15) + "...")</p>
                        }
                        else
                        {
                            <p class="card-text text-center">@eventModel.Description</p>
                        }

                        <a href="/event/details/@eventModel.Id" class="btn btn-info">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber }))